<div class="alert alert-info" role="alert">
	<p>This functionality requires credentials to continue.</p>
	<p>Please, log in if you are an <b>Administrator</b>.</p>
</div>


<%= form_tag do %>

  <div class="field">
    <%= text_field_tag :name, params[:name], placeholder: 'Name', class: 'form-control' %>
  </div>

  <div class="field">
    <%= password_field_tag :password, params[:password], placeholder: 'Password', class: 'form-control' %>
  </div>

  <div type="button" class="btn-group btn-group-sm">
    <%= submit_tag 'Login', class: 'btn btn-success' %>
  </div>

  <br><br>

<% end %>
