#login-panel
  %h4 Please log in to coninue
  %br
  / form for without Session model
  = form_for(:session, url: login_path) do |f|
    .field= f.email_field :email, placeholder: 'Email', class: 'form-control'
    .field= f.password_field :password, placeholder: 'Password', class: 'form-control'
    .btn-group.btn-group-sm{:type => "button"}
      = f.submit 'Log in', class: 'btn btn-success'
