<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<!--
 Here we have access to the instance variable @cart set by the controller.
 This var is also available inside partials called from the layout but using
 'cart' instead of '@cart'
-->

<%= render @cart %>