#main {
	padding-top: 3.5em;
	background: #0c2e40;
	min-height: 50em;

	#left-bar {
		width: 20%;
		padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
		float: left;
		background: #0c2e40;
		min-height: inherit;

		.btn-group {
			margin-left: 3em;
		}
	}

	#content {
    width: 80%;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    float: right;
    min-height: inherit;
    position: relative;
    background: #f5f5f5;
    display: block;
	}

}