.main-wrapper {
	padding-top: 3.5em;
	padding-right: 1em;
	background: #f1f5f8;
}

.cart-wrapper {
	position: fixed;
	padding: 1em;
	padding-left: 2em;
  padding-right: 0.5em;

  .btn-empty-cart {
  }
}

.index-wrapper {
	background: #fff;
	float: right;
	padding-top: 1em;
}

.index {
  padding-left: 2em;
  padding-right: 1em;
}

#main {
	.col-md-4 {
	    padding-left: 5px!important;
    	padding-right: 5px!important;
	}
}