#main {
	padding-top: 4.5em;
	background: #e5eaec;
	min-height: 50em;

	#left-bar {
		width: 30%;
		padding-top: 0em;
		padding-left: 1em;
		padding-right: 1em;
		float: left;
		background: #fff;
		min-height: inherit;
	}

	#content {
    width: 70%;
    float: right;
    /*min-height: inherit;*/
    position: relative;
    background: #fff;
    display: block;
	}

}