.col-md-3 {
	padding: 6px!important;
}

.product {
	height: 41.2em;
	border: 1px solid #dddddd;
	padding: 0.5em;
	border-radius: 4px;

	img {
		height: 25em!important;
	}

	.product_controls {
		margin-top: 1em;
	}
}