.product {
	padding: 0.5em;
	margin-bottom: 7px;
	border-radius: 1px;
	width: calc((100%/4) - 6px);
	margin-right: 3px;
  display: inline-block;
  background-color: #fff;
  font-size: 13px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);

	img {
		height: 15em!important;
	}

	.product_controls {
		margin-top: 1em;
	}
}