%section#product_show
  .row
    .col-md-3
      .thumbnail
        %img{:src=>@product.image_url}
    .col-md-9
      .caption
        %h3= @product.title
        %p= @product.description
        %h4
          %span.label.label-success= @product.price
          .product_controls

      - if current_user.seller?
        = link_to 'Edit', edit_product_path(@product), :class => "btn btn-default"