<!-- Inside the partial template, the current object is refered using the variable name that matches
the name of the partial template: line_item  -->

<!-- Check if the item rendered is the one that just changed -->
<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
	<td><%= line_item.product.title.truncate(20) %></td>
	<td><%= line_item.quantity %></td>
</tr>