%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
%footer
  #footer.footer
    .container
      .row
        .col-lg-2.col-md-2.col-sm-4.col-xs-6
          %h3 Lorem Ipsum
          %ul
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
        .col-lg-2.col-md-2.col-sm-4.col-xs-6
          %h3 Lorem Ipsum
          %ul
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
        .col-lg-2.col-md-2.col-sm-4.col-xs-6
          %h3 Lorem Ipsum
          %ul
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
        .col-lg-2.col-md-2.col-sm-4.col-xs-6
          %h3 Lorem Ipsum
          %ul
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
            %li
              %a{:href => "#"} Lorem Ipsum
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          %h3 Lorem Ipsum
          /
            <ul>
            <li>
            <div class="input-append newsletter-box text-center">
            <input type="text" class="full text-center" placeholder="Email ">
            <button class="btn  bg-gray" type="button"> Lorem ipsum <i class="fa fa-long-arrow-right"> </i> </button>
            </div>
            </li>
            </ul>
          %ul.social
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-google-plus
            %li
              %a{:href => "#"}
                %i.fa.fa-pinterest
            %li
              %a{:href => "#"}
                %i.fa.fa-youtube
      / /.row
    / /.container
  / /.footer
  .footer-bottom
    .container
      %p.pull-left Copyright © Honolua 2017. All right reserved.
      .pull-right
        %ul.nav.nav-pills.payments
          %li
            %i.fa.fa-cc-visa
          %li
            %i.fa.fa-cc-mastercard
          %li
            %i.fa.fa-cc-amex
          %li
            %i.fa.fa-cc-paypal
  / /.footer-bottom
