%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
%footer
  .footer-bottom
    .container
      %p.pull-left Coded and built with love by Inge. Source code available on GitHub.
      .pull-right
